// Colors
@import "colors";
@import "syntax-variables";

@text-color: @cool-light-gray;
@text-color-subtle: @warm-very-light-gray;
@text-color-highlight: @cool-very-light-gray;
@text-color-selected: @cool-very-light-gray;
@text-color-info: @cyan;
@text-color-success: @green;
@text-color-warning: @orange;
@text-color-error: @red;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-warning;
@text-color-modified: @text-color-info;
@text-color-removed: @text-color-error;

@background-color-primary: @cool-dark-gray;
@background-color-info: @cyan;
@background-color-success: @green;
@background-color-warning: @orange;
@background-color-error: @red;
@background-color-highlight: @warm-light-gray;
@background-color-selected: @warm-gray;

@scrollbar-background-color: transparent;
@scrollbar-color: rgba(0, 0, 0, 0.25);

@app-background-color: @cool-dark-gray;

@tree-background-color: @base-background-color;

@base-background-color: @cool-dark-gray;
@base-border-color: @gray;

@pane-item-background-color: @base-background-color;
@pane-item-border-color: @tab-bar-background-color;

@input-background-color: @base-background-color;
@input-border-color: @base-border-color;

@tool-panel-background-color: @cool-gray;
@tool-panel-border-color: @tab-bar-border-color;

@inset-panel-background-color: @cool-dark-gray;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #434800;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: @tool-panel-background-color;
@overlay-border-color: @background-color-highlight;

@button-background-color: @warm-very-light-gray;
@button-background-color-hover: @background-color-highlight;
@button-background-color-selected: @background-color-selected;
@button-border-color: @warm-light-gray;

@tab-bar-background-color: @cool-gray;
@tab-bar-border-color: @cool-gray;
@tab-background-color-active: @cool-very-dark-gray;
@tab-border-color: transparent;

@tree-view-background-color: @cool-dark-gray;
@tree-view-border-color: @tool-panel-border-color;

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: @purple;
@ui-site-color-5: @light-orange;

// Sizes

@font-size: 13px;

@disclosure-arrow-size: 12px;

@component-padding: 8px;
@component-icon-padding: 4px;
@component-icon-size: 16px;
@component-line-height: 24px;
@component-border-radius: 2px;

@tab-height: 32px;

// Other

@font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
@font-family-code: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
